$font-family-primary: "Raleway", serif;
$font-family-secondary: "Old Standard TT", serif;
$font-family-tertiary: "Cormorant Garamond", serif;

$color-lapis-lazuli: #236192;
$color-black: #000000;
$color-white: #FFF;
$color-white-low-opasity: #ffffffe6;
$color-grey-transparent: #aaaaaa33;
$color-pale-silver-transparent: #cbc4bc1a;

:root{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: $font-family-primary;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.6;
    //background-color: $color-pale-silver-transparent;
    background-color: $color-lapis-lazuli;
    height: 200vh;
    position: relative;
}

.navbar{
    font-size: 1.6rem;
    &__section{
        width: 100%;
        height: 6.4rem;
        position: fixed;
        top: 0;
    }
    &__header{
        height: 6.4rem;
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .8s ease-in;
        & hr{
            border: none;
            border-top: 1px solid $color-white;
            margin: 0;
            width: 100%;
            transform: scale(0);
            animation: entry__hr .75s ease 2s forwards;
        }
    }
    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        color: $color-white;
        text-transform: uppercase;
        flex: 1 1 30%;
    }
    &__subitem{
        text-transform: uppercase;
        font-family: $font-family-primary;
        font-size: 1.28rem;
        letter-spacing: .2rem;
    }
    &__navigation{
        display: flex;
        gap: 2.4rem;
        align-items: center;
        justify-content: start;
    }
    &__link{
        text-decoration: none;
    }
    &__logo{
        font-family: $font-family-tertiary;
        font-size: 1.6rem;
        letter-spacing: .4rem;
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: translateY(-1rem);
        animation: entry__navbar-item .75s ease-in-out 2.55s forwards;
        &--first{
            font-size: 3rem;
            letter-spacing: 1rem;
            margin-right: -.7rem;

        }
    }
    &__languages{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        &--short{
            display: none;
        }
        &-wrapper{
            cursor: pointer;
            position: relative;
            width: 13rem;
            height: 6.4rem;
        }
        &-header{
            display: flex;
            align-items: center;
            height: 6.4rem;
            padding-left: .8rem;
            opacity: 0;
            transform: translateY(-1rem);
            animation: entry__navbar-item .75s ease-in-out 2.9s forwards;
        }
        &-icon-container{
            padding: 0 .3rem;
            margin-bottom: -.3rem;
        }
        
        &-alternative{
            height: 4.8rem;
            line-height: 4.8rem;
            padding-left: .8rem;
            
            &--hide{
                opacity: 0;
                transform: translateX(-10px);
                transition: all .5s ease;
            }
            &--show{
                opacity: 1;
                transform: translateX(0px);
                transition: all .5s ease;
            }
        }
        &-alternative:hover{
            background-color: $color-grey-transparent;
            transition: all .5s ease;
        }
    }
    &__volume{
        opacity: 0;
        transform: translateY(-1rem);
        animation: entry__navbar-item .75s ease-in-out 2.8s forwards;
    }
    &__book-now{
        display: flex;
        justify-content: end;
        opacity: 0;
        transform: translateY(-1rem);
        animation: entry__navbar-item .75s ease-in-out 2.3s forwards;
        &-button.navbar__button{
            display: flex;
            align-items: center;
            background-color: $color-white;
            border: 1px solid $color-white;
            width: 15.7rem;
            height: 4.2rem;
            padding: 0;
            & span{
                color: $color-black;
                font-family: $font-family-primary;
                font-size: 1.2rem;
                text-transform: uppercase;
                flex-grow: 1;
            }
            & img{
                width: 4rem;
                height: 4rem;
                animation: book-now-button-out .5s ease forwards;
            }
        }
        &-button:hover img{
            animation: book-now-button-in .5s ease forwards;
        }
    }
    &__button{
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
        &-menu{
            width: 4.8rem;
            height: 4.8rem;
            position: relative;
            opacity: 0;
            transform: translateY(-1rem);
            animation: entry__navbar-item .75s ease-in-out 3s forwards;
            &-line{
                position: absolute;
                display: block;
                height: 1px;
                left: 0;
                width: 100%;
                transition-property: background;
                background-color: $color-white;
                
                &--one{
                    top: 1.8rem;
                }
                &--two{
                    top: 3.1rem;
                }
            }
        }
    }

    &--hide{
        transform: translateY(-6.4rem);
        transition: all 1s ease .5s;
    }

    &--show{
        transform: translateY(0);
        transition: all 1s ease .5s;
    }

    .icon {
        display: inline-block;
        fill: $color-white;
        width: 2.6rem;
        height: 2.6rem;

        &__chevron{
            &--up{
                transform: rotate(-180deg);
                transition: all .5s ease;
            }
    
            &--down{
                transform: rotate(0deg);
                transition: all .5s ease;
            }
        }
    }
    
    .hidden{
        display: none;
    }
}

.navbar--light-bg{

    .navbar{
    
        &__header{
            background-color: $color-white-low-opasity;
            transition: all .8s ease-in .1s;
            & hr{
                border-top: none;
            }
        }
    
        &__item{
            color: $color-lapis-lazuli;
        }
    
        &__book-now{
    
            &-button.navbar__button{
                background-color: $color-white;
                border-color: $color-black;
                & span{
                    color: $color-lapis-lazuli;
                }
            }
        }
        &__button{
    
            &-menu{
    
                &-line{
                    background-color: $color-lapis-lazuli;
    
                }
            }
        }
    }

    .icon {
        fill: $color-lapis-lazuli;
      }
}

@media only screen and (max-width: 1279px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .navbar{
        &__book-now-button{
            font-size: 1.2rem;
            letter-spacing: .12rem;
        }

        &__header{
            padding: 0 1.6rem;
        }

        &__languages-icon-container{
            margin-bottom: -.6rem;
        }

        &__logo{
            font-size: 1rem;

            &--first{
                font-size: 2.2rem;
                letter-spacing: .75rem;
                margin-right: -.4rem;
            }
        }

        &__navigation{
            gap: 1.6rem;
        }

        &__volume{
            display: none;
        }
    }
}

@media only screen and (max-width: 1140px) {
    
}

@media only screen and (max-width: 1023px) {
    .navbar{
        &__languages{
            &--long{
                display: none;
            }
            &--short{
                display: block;
            }
            &-wrapper{
                width: auto;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    
}

@media only screen and (max-width: 767px) {
    .navbar{
        &__book-now{
            width: auto;
        }

        &__book-now-button.navbar__button{
            width: 9.277rem;
            height: 3.2rem;

            img{
                display: none;
            }
        }

        &__logo{
            font-size: .9rem;

            &--first{
                letter-spacing: 0.5rem;
                margin-right: -.4rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 424px) {
    
}



  @keyframes entry__hr{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
  }

  @keyframes entry__navbar-item{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    80%{
        opacity: .8;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes book-now-button-in {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-90deg);
    }
  }

  @keyframes book-now-button-out {
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }